.container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
    height: 40px;
}

nav a{
    color: white;
    padding: 0 0 0 10px;
}