.cardContainer{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
}
.headingContainer{
    display: flex;
    justify-content: space-between;
}
.fontawesome {
    cursor: pointer;
}